*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6
{
    font-size: 24px;
    color: white;
}
body {
    font-family: 'Source Sans Pro', sans-serif;
}

.home {
    width: 100%;
    height: 100vh;
    background-image: url(img/slider/slider-01.jpg);
    background-size: cover;
    background-position: center center;
    position: relative;
    
}
.home-cover{
    overflow: auto;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .8);
}
.home-content
{
  
    margin-top: 220px;
    text-align: center;
}
.home-content h1{
    padding: 20px 0px;
    color: #ff305b;
    font-size: 70px;
    font-weight: bolder;
}
.nav{
    background-color: rgba(0, 0, 0, .8);
    padding: 15px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}
.container
{
   
    width: 90%;
    margin: auto;
    
}
.logo 
{
  
    width: 50%;
    float: left;
    overflow: auto;
}
.logo a 
{
    color: #ff305b;
    font-size: 24px;
    font-weight: 700px;
}
.l2 {
    
    padding: 5px;
}
.logo span
{
    color: white;
    font-size: 18px;
    margin: 10px;
    
}
.clr
{
    clear: both;
}